.album-item {
    .view-album {
        background-color: #ebebeb;
        &:focus {
            border: none;
        }
    }
    .dropdown {
        .btn {
            color: #5f5f5f;
            &:focus, &:active {
                border-color: transparent;
            }
            &::after {
                display: none;
            }
        }
    }
}